*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	width: 100%;
	height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 768px){
  body{
    line-height: 1.2;
  }
  p{
    margin: 10px;
  }
  
}
input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}
    
  input[type=tel], select {
      width: 100%;
      padding: 12px 10px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;}
 
 input[type=submit], input[type=reset] {
    width:  100%;
    background-color:#0808a0;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;}

  input[type=submit]:hover {
    background-color:  #3e4095;
}
.logo{
  width: 170px;
  height: auto;
  margin: 20px;
  position: absolute;
  display: block;
}
.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; /* Make sure the nav bar appears on top of other elements */
}
.navbar {
    float: right;
    display: flex;
}
.navbar a{
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
}
.nav-item{
  list-style: none;
  padding
  : 20px;
  float: right;
}
.nav-link{
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  color: black;
  font-weight: 300;
}
.nav-link:hover{
  color: #3e4095;
  font-weight: bold;
}
.nav-link.active{
  color: #3e4095;
  font-weight: bold;
}
/*navbar styles for screens smaller than 768px */
@media (max-width: 768px) {
  nav{
    flex-direction: row;
  }
  nav ul{
    flex-direction: row;
    align-items: center;
  }
  nav li {
    margin: 10px 0;
  }
}


.container{
  background-color: white;
  display: block;
  overflow: hidden;
  justify-content: space-between;
  height: 80px;
  color: #fff;

}
@media(max-width: 768px) {
  .container{
    max-width: 100px;
    padding: 0 10px;
  }
}
.container-team{
  display: flex;
  align-items: center;
}

section{
  flex-direction: row;
  display: flex;
}
.text{
width: 50%;
}
.text {
padding-left: 10px;
font-size: 20px;
line-height: 1.5;
}
.text p{
padding-right: 40px 50px;
font-size: 20px;
line-height: 1.5;
}
.svg_index{
position: absolute;
right: 0;
height: auto;
width: 700px;
top: 100px;
left: 800px;
margin-left: 20px;
}
.svg_index img{
  max-width: 100%;
  width: 60%;
  height: auto;
  margin: 0 auto;
}
.register{
    border-radius: 5px;
    padding: 20px;
    border: 1px;
    width: 500px;
    margin: 0 auto;
    background-color: #3e4095;
    }
@media only screen and (max-width: 480px) {

      /* adjust font sizes and padding */
      }
      .register{
        width:100%;
        max-width: 800px;
      }
  
.registration-form {
    margin-top: 50px;
    color: #fff;
  }
  
  .registration-form label {
    font-weight: bold;
  }
  .registration-form h1 {
    color: #fff;
  }
  .contact-section {
    border-radius: 5px;
    padding: 20px;
    border: 1px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background-color: #3e4095;
    color: #fff;
  }
  .form-contact {
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
  }
 label,text {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  textarea{
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 200px;
  }
  /* for Android screen sizes */
@media only screen and (max-width: 480px) {

  /* adjust font sizes and padding */
  }
  .contact-section{
    width:100%;
    max-width: 800px;
  }
  .contact-section h1 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .form-contact label {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .form-contact input[type="text"],
  .form-contact textarea {
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  .form-contact input[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
  }
  .lg{
    background-color: #0808a0;
  }
  .content{
    width: 1200px;
    height: auto;
    margin: auto;
    position: relative;
  }
 .content-h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
  font-weight: bold;
 }
 .content-p{
  padding-left: 20px;
  letter-spacing: 2px;
 }

 .content-team{
  width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
}
.content-team-h1{
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
padding-left: 20px;
margin-top: 15%;
letter-spacing: 2px;
font-weight: bold;
}
.content-team-p{
padding-left: 20px;
letter-spacing: 2px;
}
.team-row{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  background-color: #3e4095;
  width: 100%;
  height: 100%;
  align-items: center;
}
.team-member{
  width: 200px;
  margin: 10px;
  overflow: hidden;
  color: #fff;
  flex-direction: column;  
  align-items: center;
}
.team-member img{
  width: 100%;
  height: auto;
  margin: 10px;
  flex: 1;
}
.member-name{
  margin-top: 10px;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
.member-title{
  margin-top: 5px;
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 600px){
  .team-row{
    flex-direction: column;
  }
.team-member img{
  display: block;
  margin: 10px auto;
}
}
.about{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color:#3e4095;
  margin-top: 100px;
  color: #fff;
  text-align: center;
}
.statement-h2{
  margin-top: 20px;

}
.statement-ul{
  text-align: left;
  list-style: none;
  text-indent: 5px;
}
.statement-row{
  justify-content: space-around;
  display: flex;
  margin-top: 0 -10px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.mission{
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
  
}
.statement-p{
  margin-top: 5px;
  text-align: center;
  box-sizing: border-box;
  text-align: center;
}
.horizontal-line{
  border: none;
  border-top: 4px solid black;
  background-color: #ccc;
  margin: 20px 0;
  height: 1px;
}
.competition-h1{
  text-align: center;
  font-family: "Vidaloka," sans-serif;
  font-weight: 300;
  font-size: 52px;
  font-style: normal;
  font-variant-caps: normal ;
  font-variant-east-asian: normal;
   font-variant-ligatures: normal ;
   font-variant-numeric: normal;
   background-color: #3e4095;
   color: #fff;
}
.competition-p{
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.6em;
  margin: 10px;
  font-family: "Hind" sans-serif;
  font-weight: 400;
}
.competition-h{

  margin: 10px;
  font-family: "Hind" sans-serif;
  font-weight: bold;
}
.letter-s{
  color: #3e4095;
}
.button {
display: inline-block;
padding: 10px 20px;
background-color: #3e4095;
color: #fff;
align-items: center;
text-decoration: none;
font-size: 16px;
border-radius: 5px;
border: none;
margin: 10px;
}
.slide-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Set the image's initial opacity to 0 */
.team-member img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* When the image enters the viewport, fade it in */
.team-member img.is-visible {
  opacity: 1;
}
